<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vandyhacks.dios.hsphuc.healthystart" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="vandyhacks.dios.hsphuc.healthystart.AlarmsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"

                    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.HeartRateMonitor" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
